
<h1>Scrabble Test Score</h1>
<form action="/results" method="post">
  <label for="str">Enter a Word[only alphabets]: </label>
  <input type="text" name="str" required>
  <br>
  <br>
  <button type="submit" name="button">Check Score</button>
</form>
